:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: lightblue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}







a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: plum;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



 


table {
  margin: 0 auto; /* This centers the table horizontally */
  margin-bottom: 20px;
  border: 2px solid black; /* Add border to the table */
  border-collapse: collapse;
}
nav {
  display: flex;
  justify-content: center; /* Center the navigation horizontally */
}

nav a {
  margin-right: 30px; /* Add margin to the right of each nav link */
}

/* Center the h1 headlines */
h1 {
  text-align: center; /* Horizontal centering */
  margin-top: 40px; /* Optional: Add some top margin to create space */
}

.hidden {
  display: none;
}



.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-content label,
.form-content input,
.form-content select {
  margin-bottom: 10px; /* Adjust this value as needed */
}

.form-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Optional: Add some space between form buttons */
}


footer {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  height: 100px; /* Set a fixed height for the footer, adjust as needed */
}

footer p {
  margin: 0; /* Remove default margin for the paragraph */
}

.icon {
  width: 400px; /* Adjust the width as per your requirement */
  height: 400px; /* Adjust the height as per your requirement */
  margin-top: 20px; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

